#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
      display: grid;
    justify-items: center;
}

.read-the-docs {
  color: #888;
}

.bounce {
  animation: bounce 1s ease;
  filter: drop-shadow(0 0 1em #fff);
}

@keyframes bounce {
  0% { transform: translateY(0%); }
  10% { transform: translateY(-15%); }
  20% { transform: translateY(0%); }
  25% { transform: translateY(-7%); }
  27% { transform: translateY(0%); }
  29% { transform: translateY(-3%); }
  30% { transform: translateY(0); }
}